# .env.template

export PLATFORM_NAME=your_platform_name
export PLATFORM_VERSION=your_platform_version
export DEVICE_NAME=your_device_name
export UDID=your_udid # run adb devices to get the udid
export NODE_JS_EXE_PATH=your_node_js_exe_path
export APPIUM_JS_PATH=your_appium_js_path
export CI=false
export APP_PATH='com.monefy.app.lite_1.18.0-2208_minAPI21(nodpi)_apkmirror.com.apk'